@import "mixins.scss";

.contacts {
    position: absolute;
    @include adaptiv-value('right', 60, 20);
    @include adaptiv-value('bottom', 40, 20);
    @include adaptiv-value('font-size', 25, 15);

    div {
        vertical-align: middle;
        display: inline-block;
    }

    &__label {
        margin-right: 10px;
    }

    &__icons {
        width: auto;
    }

    &__icon {
        @include adaptiv-value('width', 50, 30);        
        @include adaptiv-value('height', 50, 30);
        background-color: #2D2F34;
        display: inline-flex !important;
        justify-content: center;
        align-items: center;

        background-size: 0 0;
        background-position: center;
        transition: background-size .2s linear,
                    transform .5s ease;
        background-repeat: no-repeat;

        transform: scale(0);

        &._anim-active {
            transform: none;
        }

        &_vk {
            background-image: linear-gradient(#3673B5, #3673B5);
        }
        &_telegram {
            background-image: linear-gradient(#0282B5, #0282B5);
        }
        &_instagram {
            background-image: url("../img/instagram-background.webp");
        }

        &:hover {
            transition: background-size .1s linear;
            background-size: 100% 100%;
        }
    }   
    a {
        color: #EBEBEB;
        @include adaptiv-value('width', 40, 20);        
        @include adaptiv-value('height', 40, 20);
    }
    svg {
        @include adaptiv-value('width', 40, 20);
        @include adaptiv-value('height', 40, 20);
    }
}