@import "mixins.scss";

.description {
    background-color: #383B40;
    padding: 20px 20px 40px !important;

    &__body {
        margin: 0 auto;
        text-align: left;
    }

    &__item {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__question {
        font-family: "Courier Prime", monospace;
        @include adaptiv-value('font-size', 35, 25);
        letter-spacing: 2px;
        transition: transform .15s ease;
        cursor: pointer;
        font-weight: bold;
        transform: translateX(-40%);
        opacity: 0;

        @media screen and (max-width: 768px) {
            cursor: default;
        }
    }
    &__item._anim-active &__question {
        transition: transform .3s ease,
                    opacity .3s linear;
        transform: none;
        opacity: 1;
    }
    &__item._shown-spoler &__answer._anim-active {
            transition: opacity .3s linear,
                        transform .3s ease;
            opacity: 1;
            transform: none;
        }
    &__answer {
        margin-bottom: 10px;
        font-family: "Courier New", sans-serif;
        @include adaptiv-value('font-size', 30, 20);
        opacity: 0;
        transform: translateY(-40%);
        line-height: calc(100% + 5px);

        &:last-child {
            margin-bottom: 0;
        }

        &s {
            margin-top: 5px;
            overflow: hidden;
            padding-left: 15px;
        }
    }

    &__link {
        position: relative;
        border-bottom: 2px dashed #f4f5f7;
        color: #f4f5f7;

        &-text {
            position: relative;
            bottom: 0;
            transition: bottom .3s ease,
                        text-shadow .3s ease;

        }
        &:hover &-text {
            bottom: 3px;
            text-shadow: 3px 7px 5px #1F2023;
        }

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: #f4f5f7;
            transition: width .3s ease,
                        left .3s ease;
        }

        &:hover {
            &:after {
                width: 100%;
                left: 0;
            }
        }
    }
}