@font-face {
    font-family: 'Courier New';
    font-style: normal;
    font-weight: normal;
    src: local('Courier New'), local('CourierNew-Regular'),
        url("../fonts/Courier New/Courier New.woff") format('woff'),
        url("../fonts/Courier New/CourierNew.ttf") format('truetype');
}

@font-face {
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: normal;
    src: local('Courier Prime'), local('CourierPrime-Regular'),
        url("../fonts/Courier Prime/CourierPrime.woff") format('woff'),
        url("../fonts/Courier Prime/CourierPrime.ttf") format('truetype');
}