@import "mixins.scss";

@keyframes rotate-prev-arrow {
    0% {
        transform: rotate(360deg) scale(1.5);
    }
    100% {
        transform: rotate(0deg) scale(1.5);
    }
}

@keyframes rotate-next-arrow {
    0% {
        transform: rotate(180deg) scale(1.5);
    }
    100% {
        transform: rotate(540deg) scale(1.5);
    }
}

.galery {
    &__content {
        transition: transform .3s ease;
    }

    &__body {
        margin: 0 auto;
        overflow: hidden;
    }

    &__image {
        background-color: #474B52;
        border-radius: 5px;

        img {
            border-radius: 5px;
            width: 100%;
        }
    }

    &__note {
        margin-top: 20px;
        @include adaptiv-value('font-size', 25, 15);
        font-family: "Courier Prime", monospace;
        opacity: .8;
        text-align: left;

        &._anim-item {
            transform: scale(0);
        }

        &._anim-active {
            transition: transform .3s ease;
            transform: none;
        }
    }

    &__bottom {
    }

    &__control {
        display: flex;
        padding-bottom: 5px;
        justify-content: space-around;
        width: 60%;
        align-items: center;
        margin: 0 auto;
    }

    &__arrow {
        @include adaptiv-value('width', 25, 15);
        @include adaptiv-value('height', 42, 32);
        transition: opacity .2s linear,
                    transform .2s ease,
                    left .3s ease;
        transform: scale(1) rotate(0);
        animation: 1s ease running;
        color: #F4F5F7;
        opacity: 0;
        position: relative;
        left: -100px;

        &:hover {
            opacity: 1;
            transform: scale(1.5);
        }

        &:active {
        }
        &_next {
            transform: rotate(180deg);
            left: 100px;

            &:hover {
                transform: scale(1.5) rotate(180deg);
            }
        }
    }
    &__bottom._anim-active &__arrow {
        opacity: 0.5;
        left: 0;
    }

    &__line {
        height: 4px;
        width: 0px;
        margin: 30px auto 20px;
        transition: background-color .2s linear,
                    width .4s ease .3s;
        border-radius: 3px;

        &_pink {
            background-color: #D4004D;

            &:hover {
                background-color: #D46A91;
            }
        }
        &_purple {
            background-color: #6C48AD;
            margin-top: 20px;

            &:hover {
                background-color: #978BAD;
            }
        }
    }
    &__bottom._anim-active &__line {
        width: calc(100% - 20px);
    }

    &__button {
        @include adaptiv-value('font-size', 20, 10);
        font-family: 'Courier Prime', monospace;
        text-decoration: none;
        display: inline-block;
        @include adaptiv-value('padding-top', 15, 10);
        @include adaptiv-value('padding-bottom', 15, 10);
        @include adaptiv-value('padding-left', 30, 15);
        @include adaptiv-value('padding-right', 30, 15);
        border-radius: 10px;
        text-align: center;
        width: 100%;
        height: 100%;
        letter-spacing: 2px;
        transition: box-shadow .15s ease,
                    color .15s linear;

        &-item {
            flex: 1 1 200px;
            vertical-align: middle;
            text-align: center;
            margin: 13px 20px;
        }

        &s {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        &_pink {
            box-shadow: 0 0 40px 40px #D4004D inset,
                        0 0 0 0 #D4004D;

            &:hover {
                box-shadow: 0 0 10px 0 #D4004D inset,
                            0 0 10px 4px #D4004D;
                color: #D4004D;
            }
        }
        &_pink2 {
            box-shadow: 0 0 40px 40px #F137A6 inset,
                        0 0 0 0 #F137A6;

            &:hover {
                box-shadow: 0 0 10px 0 #F137A6 inset,
                            0 0 10px 4px #F137A6;
                color: #F137A6;
            }
        }
        &_purple {
            box-shadow: 0 0 40px 40px #6C48AD inset,
                        0 0 0 0 #6C48AD;

            &:hover {
                box-shadow: 0 0 10px 0 #6C48AD inset,
                            0 0 10px 4px #6C48AD;
                color: #6C48AD;
            }
        }
        &_yellow {
            box-shadow: 0 0 40px 40px #ffbe08 inset,
                        0 0 0 0 #ffbe08;

            &:hover {
                box-shadow: 0 0 10px 0 #ffbe08 inset,
                            0 0 10px 4px #ffbe08;
                color: #ffbe08;
            }
        }
        &_green {
            box-shadow: 0 0 40px 40px #48ad6c inset,
                        0 0 0 0 #48ad6c;

            &:hover {
                box-shadow: 0 0 10px 0 #48ad6c inset,
                            0 0 10px 4px #48ad6c;
                color: #48ad6c;
            }
        }
    }

    &__photo-counter, &__page-counter {
        font-family: "Courier Prime", monospace;
        @include adaptiv-value('font-size', 20, 10);
        position: relative;
        top: 20px;
        opacity: 0;
        transition: opacity .3s linear,
                    top .3s ease;

        input {
            width: 30px;
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            background-color: transparent;
            text-align: center;
        }
    }
    &__bottom._anim-active &__photo-counter,
    &__bottom._anim-active &__page-counter {
        top: 0;
        opacity: 1;
    }

    @media screen and (max-width: 451px) {
        &__line {
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
}


.one-image-galery {
    &__main {
        display: flex;
        justify-content: space-around;
    }

    &__image-part {
        width: auto;
        max-width: 50%;
    }

    &__image {
        padding: 10px;
        transition: transform .3s ease,
                    height .3s linear;
        overflow: hidden;
        height: auto;

        &._change {
            transform: scale(0) !important;
        }
        &._anim-item {
            transform: rotateX(-90deg);
            transition: transform .3s ease-in;
        }
        &._anim-active {
            transform: none;
        }

        a {
            color: inherit;

            &._anim-item {
                opacity: 0;
                transition: opacity .3s ease-in .5s;
            }
            &._anim-active {
                opacity: 1;
            }
        }

        &:hover img, &._hover img {
            transform: scale(1.5);
        }
        img {
            transition: transform .3s ease;
            position: relative;
            max-height: 90vh;
        }
    }

    &__notes {
        margin-bottom: 20px;
    }

    &__spoler {
        margin: 20px 0;
        padding: 0 !important;
        &s {
            margin-top: 10px;
        }
    }
    &__label {
        @include adaptiv-value('font-size', 25, 15);
        font-family: "Courier Prime", monospace;
        letter-spacing: 1px;

        &._anim-item {
            transform: rotatex(90deg);
            transition: transform .3s ease .2s;
            &:before,
            &:after {
                width: 0;
            }
        }

        &._anim-active {
            transform: none;
            @include adaptiv-value('font-size', 25, 15);
            &:before,
            &:after {
                width: 14px;
            }
        }
    }
    &__item {
        @include adaptiv-value('font-size', 20, 15);
        font-family: "Courier New", sans-serif;
        opacity: 0.8;
        margin-top: 5px;
        line-height: calc(100% + 2px);
        padding-left: 10px;

        &._anim-item {
            opacity: 0;
            transition: opacity .3s linear .2s;
        }
        &._anim-active {
            opacity: 1;
        }
        
        &s {
        }
    }

    &__information-part {
        padding: 0 20px;
        width: 50%;
        overflow: hidden;
    }
    &__information-title {
        font-family: "Comfortaa", monospace;
        @include adaptiv-value('font-size', 25, 15);
        text-align: center;
        transition: transform .3s ease;

        &._change {
            transform: translateX(100%);
        }
    }

    &__note_touch {
        display: none;
    }
    &__note_pc {
        display: block;
    }

    @media screen and (max-width: 768px) {
        &__note_touch {
            display: block;
        }
        &__note_pc {
            display: none;
        }
    }

    @media screen and (max-width: 751px) {
        &__main {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__image-part, &__information-part {
            width: auto;
            max-width: 100%;
        }

        &__image-part {
            margin-bottom: 30px;
        }
        &__note {
            text-align: center;
            margin-right: 20px;
            flex: 1 1 45%;

            &:first-child,
            &:nth-child(2) {
                flex: 0 0 100%;
            }

            &:last-child {
                margin-right: 0;
            }

            &:nth-child(3) {
                order: 5;
            }

            &s {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
            }
        }
    }

    @media screen and (max-width: 451px) {
        &__information-part {
            padding: 0 10px;
        }

        &__note {
            text-align: left;
            margin: 10px 0 0 0;
            width: auto;
            &s {
                display: block;
            }
        }
    }
}