@import "mixins.scss";

body {
    background-color: #27292D;
    color: #f4f5f7;
    // max-width: 1500px;
    margin: 0 auto;
}

.container {
    max-width: 1387px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    // font-weight: bold;
    text-align: center;
    @include adaptiv-value('font-size', 40, 30);
    @include adaptiv-value('margin-top', 30, 15);
    @include adaptiv-value('margin-bottom', 30, 15);
    letter-spacing: 3px;
}

@media screen and (max-width: 751px) {
    a {
        cursor: default;
    }
}