.spolers {
    &__spoler {

    }
    &__spoler._shown-spoler &__items {
        height: auto;
    }
    &__label {
        cursor: pointer;
        display: inline-block;

        @media screen and (max-width: 768px) {
            cursor: default;
        }
    }
    &__items {
        height: 0;
        overflow: hidden;
        transition: height .3s ease;
    }
    &__item {

    }

    // ready-made designs
    // common styles
    &__spoler._ready-spoler {
        padding-left: 30px;
    }
    &__spoler._ready-spoler &__label {
        position: relative;

        &:before,
        &:after {
            content: '';
            position: absolute;
            background-color: #f4f5f7;
            transition: left .3s ease,
                        top .3s ease,
                        width .3s ease,
                        transform .3s ease,
                        opacity .1s linear;
        }
    }

    // hover-arrow and -reverse
    &__spoler_hover-arrow &__label,
    &__spoler_hover-arrow-reverse &__label {
        &:before,
        &:after {
            left: -60px;
            width: 14px;
            height: 2px;
            opacity: 0;
        }
        &:before {
            top: 25%;
            transform: rotate(45deg);
        }
        &:after {
            top: calc(25% + 9px);
            transform: rotate(-45deg);
        }
        &:hover {
            &:before,
            &:after {
                left: -30px;
                opacity: 1;
            }
        }
    }
    &__spoler_hover-arrow._active-spoler &__label,
    &__spoler_hover-arrow-reverse._active-spoler &__label {
        &:before,
        &:after {
            opacity: 1;
            top: 40%;
        }
        &:before {
            left: -39px;
        }
        &:after {
            left: -30px;
        }
    }
    &__spoler_hover-arrow-reverse._active-spoler &__label {
        &:before {
            left: -30px;
            transform: rotate(-45deg);
        }
        &:after {
            left: -39px;
            transform: rotate(45deg);
        }
    }

    // transform-arrow
    &__spoler_transform-arrow &__label {
        &:before,
        &:after {
            top: 35%;
            width: 14px;
            height: 2px;
        }
        &:before {
            left: -30px;
            transform: rotate(-45deg);
        }
        &:after {
            left: -21px;
            transform: rotate(45deg);
        }
    }
    &__spoler_transform-arrow._active-spoler &__label {
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }

    // cross
    &__spoler_cross &__label {
        &:before,
        &:after {
            top: 35%;
            left: -30px;
            width: 14px;
            height: 2px;
        }
        &:before {
            transform: rotate(-90deg);
        }
        &:after {
            transform: rotate(180deg);
        }
    }
    &__spoler_cross._active-spoler &__label {
        &:before {
            transform: rotate(-90deg - 45);
        }
        &:after {
            transform: rotate(180deg - 45);
        }
    }

    // rotation-cross
    &__spoler_rotation-cross &__label {
        &:before,
        &:after {
            top: 35%;
            width: 14px;
            height: 2px;
        }
        &:before {
            left: -39px;
            transform: rotate(45deg);
        }
        &:after {
            left: -30px;
            transform: rotate(-45deg);
        }
    }
    &__spoler_rotation-cross._active-spoler &__label {
        &:before,
        &:after {
            left: -35px;
        }
        &:before {
            transform: rotate(-90deg - 45);
        }
        &:after {
            transform: rotate(180deg - 45);
        }
    }

    // plus-minus
    &__spoler_plus-minus &__label {
        &:before,
        &:after {
            top: 35%;
            left: -30px;
            width: 14px;
            height: 2px;
        }
        &:before {
            transform: rotate(-90deg);
        }
        &:after {
            transform: rotate(180deg);
        }
    }
    &__spoler_plus-minus._active-spoler &__label {
        &:before {
            transform: rotate(-180deg);
        }
    }
}